<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ma page d'accueil !</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta neque minima iusto molestias. Quas aspernatur tempora voluptatum eveniet nisi? Distinctio eius autem eaque molestias ratione ullam consectetur optio tempora animi?</p>
  <a href="list.html">Liste</a>
</body>
</html>